.mission-section {
    background-color: #00c4cc;
    display: flex;
    justify-content: space-evenly;
}

.mission-section img {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 768px) {
    flex-wrap: wrap;

    .mission-section img {
        width: 250px;
        height: 200px;
    }
}

